[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Evomorph"]
	path = Evomorph
	url = https://github.com/cran/Evomorph
[submodule "metrix"]
	path = metrix
	url = https://github.com/cran/metrix
